@page
@model ConsultorsModel
@{
    ViewData["Title"] = "Company Information";
}
<html lang="en">
<body>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
  
        <h1>Consultores</h1>

        <p>
                Sección dedicada a la información básica de la compañía. Esta información es necesaria para asignarle los datos
            al inventario de equipos y consultores.
        </p>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                        <th scope="col">Dirección </th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Compañía</th>
                        <th scope="col">Email</th>
                        <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ramon Vera</td>
                    <td>123 Main St, City, Country</td>
                    <td>(123) 456-7890</td>
                    <td>Main Contact</td>
                    <td>info@companya.com</td>
                    <td>Active</td>
                </tr>
                <tr>
                    <td>Karina Faria</td>
                    <td>456 Elm St, City, Country</td>
                    <td>(987) 654-3210</td>
                    <td>Support</td>
                    <td>contact@companyb.com</td>
                    <td><span class="badge bg-danger">Inactive</span></td>
                </tr>
                    <tr>
                        <td>Amanda Arcel</td>
                        <td>456 Elm St, City, Country</td>
                        <td>(987) 654-3210</td>
                        <td>Support</td>
                        <td>contact@companyb.com</td>
                        <td><span class="badge bg-danger">Inactive</span></td>
                    </tr>
                    <tr>
                        <td>Melvin Nieves</td>
                        <td>456 Elm St, City, Country</td>
                        <td>(987) 654-3210</td>
                        <td>Support</td>
                        <td>contact@companyb.com</td>
                        <td><span class="badge bg-danger">Inactive</span></td>
                    </tr>
                    <tr>
                        <td>Stephanie Nava</td>
                        <td>456 Elm St, City, Country</td>
                        <td>(987) 654-3210</td>
                        <td>Support</td>
                        <td>contact@companyb.com</td>
                        <td><span class="badge bg-danger">Inactive</span></td>
                    </tr>
                    <tr>
                        <td>Carlos Acuna </td>
                        <td>456 Elm St, City, Country</td>
                        <td>(987) 654-3210</td>
                        <td>Support</td>
                        <td>contact@companyb.com</td>
                        <td><span class="badge bg-danger">Inactive</span></td>
                    </tr>
                    <tr>
                        <td>Eduardo Joglar</td>
                        <td>456 Elm St, City, Country</td>
                        <td>(987) 654-3210</td>
                        <td>Support</td>
                        <td>contact@companyb.com</td>
                        <td><span class="badge bg-danger">Inactive</span></td>
                    </tr>
            </tbody>
        </table>
      </div>
    </div>
  
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
