@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DH_Assets.styles.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<html lang="en">
    <style>
    .glyphicon, glyphicon, #glyphicon {
        color: seagreen;
        text-align: center;
        font-size: 25px;
    }

    .NewAccount, NewAccount, #NewAccount {
        color: blue;
        position: center;
        align-content: center;
    }

    p1{
        text-align:center;
        font:bold;
        font-size:medium;
    }

    </style>
<body>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="~/assets/Business.jpeg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">HACIENDA</h1>
                <p>Aquí podrá llevar un control de los consultores y equipo provistos por Compañías externas para el apoyo de los procesos en Hacienda</p>
                <div class="form-group">
                    <input id="txtUserName" runat="server" class="form-control" placeholder="User Name" name="email" autofocus>
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtUserName" Enabled="true"
                                                Display="None" ValidationGroup="login" Text="Required" CssClass="mpr-validation-messages" />
                </div>
    
                <div class="form-group">
                    <input id="txtPassword" runat="server" class="form-control" placeholder="Password" name="password" type="password" value="">
                    <asp:RequiredFieldValidator ID="rfLastName" runat="server" ControlToValidate="txtPassword" Enabled="true" ValidationGroup="login"
                                                Display="None" Text="Required" CssClass="mpr-validation-messages" />
                </div>

                <div class="col-lg-12">
                   <a class="nav-link" style="text-align:center" id="NewAccount" href="Login">Crear Cuenta</a>
                   </div>
                <br />
                <br />
                <asp:LinkButton ID="lnkLogin" runat="server" style="background-color:#2ebf63;"  class="btn btn-lg btn-block" ValidationGroup="login"
                OnClick="btnLogin_Click">Login</asp:LinkButton>
            </div>

                </div>
            </div>

    <div class="row gx-4 gx-lg-5 align-items-center my-5">

        <div class="col-md-4 mb-6">
          <p1 class="mpr-title-header"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;Entrar y/o Actualizar equipo</p1>
          </div>
     
           <div class="col-md-4 mb-6">
            <p1 class="mpr-title-header"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Ver equipo pendiente por aprobar</p1>
          </div>

           <div class="col-md-4 mb-6">
            <p1 class="mpr-title-header"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Equipo aprobado por remover</p1>
           </div>
    </div>
    <h1 class="font-weight-light">DASHBOARD</h1>
    <div class="col-lg-12"><img class="img-fluid rounded mb-4 mb-lg-0" src="~/assets/google.png" alt="..." /></div>
  @*   <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="container">
        <div class="dashboard">
            <button class="toggle-button" onclick="toggleSection('company')">Compañia</button>
            <button class="toggle-button" onclick="toggleSection('consultants')">Consultores</button>
            <button class="toggle-button" onclick="toggleSection('teams')">Equipos</button>
            <div class="section company" id="company-section">
                <h2>Compañia</h2>
                <!-- Content for Compañia section -->
            </div>
            <div class="section consultants" id="consultants-section">
                <h2>Consultores</h2>
                <!-- Content for Consultores section -->
            </div>
            <div class="section teams" id="teams-section">
                <h2>Equipos</h2>
                <!-- Content for Equipos section -->
            </div>
        </div>
        </div>
    </div> *@
    </body>
</html>
